.body {
    background-color: gray;
}



.csempe {
    display: inline-block;
    width: 418px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px black;
}

img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 400px;
}

.kép {
    position: relative;
}

.képinfo {
    background-color: rgb(124, 120, 120);
    opacity: 0.80;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.kepinfo h3 {
    font-weight: lighter;
    padding: 10px;
}

.ár {
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid orange;
    height: 100px;
    text-align: center;
}

.leírás {
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid orange;
    height: 100px;
    text-align: center;
    background-color: lightgray;
}

.ar {
    display: inline-block;
    border: 2px solid orange;
    width: 66%;
    background-color: lightgray;
}

.video {
    display: inline-block;
    border: 2px solid orange;
    width: 66%;
    background-color:gray;
}

.ccm {
    display: inline-block;
    border: 2px solid orange;
    width: 66%;
}

.LE {
    display: inline-block;
    border: 2px solid orange;
    width: 66%;
}

.valto {
    display: inline-block;
    border: 2px solid orange;
    width: 66%;
}

.motor {
    width: 400px;
    height: 300px;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}

nav {
    background-color: #444;
    overflow: hidden;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #555;
}

.carousel-inner {
    height: 500px;
}

.navbar-brand{
    color: white;
}

.navbar-toggler {
    color: black;
}

.footer {
    background-color: black;
    color: #999;
    text-align: center;
}

.table {
    border-radius: 10px;
    color: black;
    width: 30px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px 10px lightgray;
    text-align: center;
}

td {
    border: 2px solid gray;
    color: black;
}
th {
    border: 2px solid black;
    color:black;
}

.asd1 {
    height: 550px;
    width: 950px;
}

.asd2 {
    height: 550px;
    width: 950px;
}
