.body {
    background-color: gray;
}



.csempe {
    display: inline-block;
    width: 418px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px black;
}

img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.kép {
    position: relative;
}

.képinfo {
    background-color: rgb(124, 120, 120);
    opacity: 0.80;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.kepinfo h3 {
    font-weight: lighter;
    padding: 10px;
}

.ár {
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid orange;
    height: 100px;
    text-align: center;
}

.leírás {
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid orange;
    height: 100px;
    text-align: center;
    background-color: lightgray;
}

.ar {
    display: inline-block;
    border: 2px solid orange;
    width: 66%;
    background-color: lightgray;
}

.vasarlas {
    display: inline-block;
    border: 2px solid orange;
    width: 66%;
    background-color:gray;
}

.ccm {
    display: inline-block;
    border: 2px solid orange;
    width: 66%;
}

.LE {
    display: inline-block;
    border: 2px solid orange;
    width: 66%;
}

.valto {
    display: inline-block;
    border: 2px solid orange;
    width: 66%;
}

.motor {
    width: 400px;
    height: 300px;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}

nav {
    background-color: #444;
    overflow: hidden;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #555;
}