.csempe {
    display: inline-block;
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.kép {
    position: relative;
}

.képinfo {
    background-color: rgb(124, 120, 120);
    opacity: 0.80;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.kepinfo h3 {
    font-weight: lighter;
    padding: 5px;
}

.ár {
    border: 1px solid gray;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.leírás {
    font-size: 15px;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    height: 50px;
}

.ccm {
    display: inline-block;
    border: 1px solid gray;
    width: 33%;
}

.LE {
    display: inline-block;
    border: 1px solid gray;
    width: 33%;
}

.valto {
    display: inline-block;
    border: 1px solid gray;
    width: 33%;
}